body{
    margin: 0;
    padding: 2rem;
    box-sizing: border-box;
    font-size: 1rem;
    color:rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

#container{
    display:flex;
    justify-content: center;
}

#cursors{
    display:flex;
    justify-content: center;
    flex-direction: row;
}

#pastille{
    border: 1px solid rgb(255, 255, 255);
    width:200px;
    height:100px;
    padding-top: 5rem;
}

#listColors{
    border: 1px solid rgb(255, 255, 255);
    width:330px;
    height:100px;
}

.pastilleMini{
    width:20px;
    height:20px;
    line-height: 20px;
    border-radius: 50%;
    margin-left:10px;
    margin-bottom:10px;
    display:inline-block;
}

#cursors{
    padding-right: 5rem;
}

#inputRed{
    width:10%;
}

#inputGreen{
    width:10%;
}

#inputBlue{
    width:10%;
}

#inputAlpha{
    width:10%;
}


