body{
    margin: 0;
    padding: 2rem;
    box-sizing: border-box;
    font-size: 1rem;
    background-color: rgb(196, 242, 225);
}

#cursors{
    display:flex;
    justify-content: center;
    flex-direction: row;
}

#pastille{
    border: 1px solid black;
    width:200px;
    height:100px;
}

#cursors{
    padding-right: 5rem;
}

#inputRed{
    width:10%;
}

#inputGreen{
    width:10%;
}

#inputBlue{
    width:10%;
}


